<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Salon Porfolio</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="box">
      <mat-form-field appearance="fill" class="searchbox">
        <mat-label>Select Salon</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Deja-Vu</mat-option>
          <mat-option value="2">Freinds Salon</mat-option>
          <mat-option value="3">Toni & Teez</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        class="btnn2"
        mat-mini-fab
        [ngStyle]="{ 'background-color': '#002268' }"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon class="btnn">search</mat-icon>
      </button>
    </div>
    <mat-divider class="bott"></mat-divider>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="imageurl">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let element">
            <img
              [ngStyle]="{ padding: '10px' }"
              [src]="element.imageurl"
              height="150"
            />
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="btn"
              mat-mini-fab
              [ngStyle]="{ color: 'black', 'background-color': 'white' }"
              style="font-size: large"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon (click)="updateDialog()">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="btn"
              mat-mini-fab
              [ngStyle]="{ color: 'red', 'background-color': 'white' }"
              style="font-size: large"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon (click)="getData(element)">delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
