<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">About Us</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="mat-elevation-z8">
      <p>
        In ever developing world where every sector of our life is getting
        automated salon industry of Pakistan remains out dated and unautomated.
        Whenever customer goes to a Salon for services like haircut they don’t
        know if slot is free and If slot is not free then how much waiting will
        they have to endure. Another problem arises when Bride and Groom have to
        book their slots for make up by individually contacting Salons and
        working out best deal and slot. Our App will work as a one stop solution
        for all of these problems be it booking a slot for a haircut or booking
        a slot for Bridal and Groom make up all done from comfort of your own
        home while checking out all possible deals from all your desired Salons
      </p>
      <p>
        Projects aims to automated the Salon industry of Pakistan. Salonx will
        provide booking slots at Salons for haircuts, make up, massage,
        pedicure, manicure. With SalonX one can also check out how different
        hairstyles will look on their head with the help of VR. Other features
        include recommendations of best rated Salons, locating nearby Salons and
        digital payment
      </p>
      <p>
        Project will provide a platform for customers to book services of Salons
        online. By doing so project will solve the problem of going to salons to
        book a service or waiting at Salon for your turn to avail the service in
        doing so problem of queues or waiting at Salons will be automatically
        resolved
      </p>
    </div>
  </div>
</div>
